@use 'mixins' as *;
@use 'variables' as *;

body {
    font-family: $body-font;
    @include flex-default;
    margin: auto;
    position: relative;
    height: 700px;
    width: 1000px;
    padding: 0;
    background-color: $background-color;
}