@use 'mixins' as *;
@use 'variables' as *;

body {
    font-family: $body-font;
    @include flex-default;
    margin: auto;
    position: relative;
    height: 700px;
    width: 1000px;
    padding: 0;
    background-color: $background-color;
    background: linear-gradient(to bottom, $background-color2, $background-color, $background-color2),
                linear-gradient(to top, $background-color2, $background-color, $background-color2);

}