@use 'mixins' as *;
@use 'variables' as *;


main {
    
    #game-board {
        margin: 1rem;
        font-size: $font-size;
        border: 2px solid white;
    }

    #player-panel {
        margin: 1rem;
    }

    #spin-btn,
    #letter-guess-btn,
    #word-guess-btn {
        margin: 0 auto;
        padding: .5rem 1rem;
        font-size: $font-size;
    }

    #letter-guess-btn,
    #word-guess-btn {
        width: 200px;
        height: 50px;
        right: 2rem;
    }

    #letter-guess-btn {
        position: absolute;
        bottom: 7rem;
    }

    #word-guess-btn {
        position: absolute;
        bottom: 2rem;
    }

    #spin-btn {
        position: absolute;
        width: 100px;
        height: 100px;
        bottom: 0;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

