@use 'mixins' as *;
@use 'variables' as *;

main {

// Game board
    #game-board {
        @include text-styles;
        position: absolute;
        right: 2rem;
        bottom: 12rem;
        padding: 1rem 2rem;
        background-color: $game-board-color;
        border-radius: $border-radius;
    }

// Player Panel 
    .player-panel {
        @include text-styles;
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        background-color: $player-color;
        border-radius: $border-radius;
        width: 200px;
        height: 75px;

        p {
            margin: auto;
        }
    }

// Buttons
    #spin-btn,
    #letter-guess-btn,
    #word-guess-btn,
    #player-panel {
        margin: 0 auto;
        padding: .5rem 1rem;
    }

    #letter-guess-btn,
    #word-guess-btn {
        @include text-styles;
        background-color: $guess-color;
        border-radius: $border-radius;
        width: 200px;
        height: 50px;
        right: 2rem;
    }

    #letter-guess-btn {
        position: absolute;
        bottom: 7rem;
    }

    #word-guess-btn {
        position: absolute;
        bottom: 2rem;
    }

    #spin-btn {
        @include text-styles;
        position: absolute;
        background-color: $spin-color;
        width: 100px;
        height: 100px;
        bottom: 0;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

