@use 'mixins' as *;
@use 'variables' as *;


main {
    
    #game-container {
        text-align: center;
        margin: 1rem
    }

    #guess-board {
        margin: 1rem 0;
        font-size: 1.5rem;
    }

    #player-panel {
        margin: 1rem 0;
    }

    #spin-btn,
    #guess-letter-btn,
    #guess-word-btn {
        margin: 1rem;
        padding: .5rem 1rem;
        font-size: 1rem;
    }

    #guess-letter-btn,
    #guess-word-btn {
        width: 200px;
        height: 50px;
    }


    #guess-letter-btn {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
    }

    #guess-word-btn {
        position: absolute;
        right: 2rem;
        bottom: 7rem;
    }

    #spin-btn {
        position: absolute;
        left: 2rem;
        bottom: 2rem;
    }
}

