// Mixins

@use 'variables' as *;

// Flex defaults

@mixin flex-default {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Text background styles

@mixin text-styles {
    color: $text-color-light;
    font-weight: 550;
    font-size: 1.5rem;
    margin: auto;
}