@use 'mixins' as *;
@use 'variables' as *;

/* Modal styles */
.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .modal {
        background: $game-board-color;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border: 3px solid $game-input-color;
        z-index: 101;
        text-align: center;
        justify-content: center;

        p {
            font-size: 24px;
            margin: 0 auto;
            padding: 1rem;
            padding-left: 0;
        }

        input {
            width: 100%;
            padding: .5rem;
            box-sizing: border-box;
            border: 2px solid $game-input-color;
            background-color: $player-input-color;
            color: $game-input-color;
            font-size: 1rem;
            font-size: 400;
        }
  
        button {
            background-color: $game-confirm-color;
            color: $game-input-color;
            padding: 10px 15px;
            border: 2px solid $game-input-color;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1rem;
            margin-top: 1rem;
            
            &:hover {
                background-color: $confirm-hover;
                box-shadow: 0 0 10px $game-confirm-color;
            }
        }
    }
}

