// Colors
$primary1-color: #0000ff;
$primary2-color: #ffff00;
$primary3-color: #ff0000;


// Text Colors
$text-color-light: #fdfdfd;

// Fonts
$body-font: 'Montserrat', Georgia, Times, sans-serif;
$header-font: 'Roboto', 'Montserrat', Georgia, sans-serif;


// Typographic Defaults
$font-size: 1.5rem;

// Border
$border-radius: 1rem;