// Colors
$guess-color: #000070;
$player-color: #fabf09;
$spin-color: #96000f;
$background-color: #2c1269;
$game-board-color: #00c91c;

// Text Colors
$text-color-light: #fdfdfd;

// Fonts
$body-font: 'Montserrat', Georgia, Times, sans-serif;
$header-font: 'Roboto', 'Montserrat', Georgia, sans-serif;


// Typographic Defaults
$font-size: 1.5rem;

// Border
$border-radius: 1rem;