// Colors
$guess-color: #000070;
$player-color: #fabf09;
$volume-color: #96000f;
$background-color: #653585;
$background-color2: #20145c;


// Wheel
$wheel-section-1: #00036d;
$wheel-section-2: #7502a7;
$wheel-section-3: #fab904;
$wheel-section-4: #cf0333;
$wheel-section-5: #08c029;

//Wheel Border
$wheel-border-1: #3ab9f7;
$wheel-border-2: #e327f6;
$wheel-border-3: #fefe90;
$wheel-border-4: #eda2a9;
$wheel-border-5: #b6fb1f;

//Game board
$game-board-color: #059072;
$game-input-color: #2a2838;
$game-board-border: #92d4ff;
$game-confirm-color: #15b794;

$confirm-hover:rgb(37, 221, 181);

$player-input-color: #d8bbb0;

// Text Colors
$text-color-light: #fdfdfd;

// Fonts
$body-font: 'Montserrat', Georgia, Times, sans-serif;
$header-font: 'Roboto', 'Montserrat', Georgia, sans-serif;


// Typographic Defaults
$font-size: 1.5rem;

// Border
$border-radius: 1rem;